.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-bottom: 25px;
    padding: 20px;
    border-bottom: 2px solid purple;
    width: 30%;
}

.order-header {
    width: 90%;
}

.order-header button {
    padding: 10px 20px;
}

.item-Edit:hover {
    cursor: pointer;
}
.os-header-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.button-save {
    width: 120px;
    height: 100px;
}

.tr-hover:hover {
    opacity: 0.6;
    cursor: pointer;
}

.button-save-container {
    margin-bottom: 10px;
}

.finish-os-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.checkbox-pay-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-delete {
    z-index: 1000 !important;
}

.btn-delete:hover {
    color: red;
}

.button-status-order {
   display: flex;
   width: 200px;
   flex-direction: column;
   gap: 10px;
}

.button-status-order input {
    width: 120px;
}

