@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

body {
  background: radial-gradient(ellipse at center, rgba(64, 150, 238, 1) 0%, rgba(64, 150, 238, 1) 100%);
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.newos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

input,
select {
  width: 250px;
  height: 40px;
  border-radius: .5rem;
  outline: none;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: blue;
}


#description {
  width: 300px;
  font-weight: bold;
  font-size: 18px;
}

.fnt-12 {
  font-size: 12px;
}

.input-buttons-container {
  width: 300px;
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  justify-content: space-between;
}

.addButton {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 40px;
  cursor: pointer;
}

.addButton:hover {
  opacity: .4;
  transition: .3s;
}

.saveButton {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 40px;
  cursor: pointer;
}

.saveButton:hover {
  opacity: .4;
  transition: .3s;
}

.option-client,
select {
  width: 300px;
}

a {
  text-decoration: none;
  color: #FFF;
}

.align-monetary-values {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.td-delete {
  color: red;
  cursor: Pointer
}

.td-delete:hover {
  background-color: rgb(208, 255, 0);
  transition: .3s;
}